@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url("../img/adventure.jpg") no-repeat 50% fixed;
    background-size: cover;
    font-size: 16px;
}

.full-width {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-height {
    justify-content: space-between;
    height: 100vh;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    max-width: 50px;
    filter: invert(1);
}

.header__menu {
    display: none;
    justify-content: space-between;
}

.header__menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}

.mobile-menu {
    width: 100vw;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    z-index: 1;
}

.mobile-menu--active {
    display: flex;
}

.mobile-menu__navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobile-menu__link {
    margin-bottom: 24px;
    text-decoration: none;
}

.hamburger_icon {
    width: 25px;
    filter: invert(1);
}

.x_icon {
    width: 25px;
}

.mobile-menu__close {
    position: fixed;
    margin-left: 400px;
    margin-bottom: 700px;
    border: none;
    background-color: white;
}

.header__mobile-button {
    border: none;
    background: none;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socialicon {
    max-width: 25px;
    filter: invert(1);
}

p.righttext {
    color: #ffffff;
    text-transform: uppercase;
    writing-mode: vertical-rl;
}

.social-container {
    display: flex;
    justify-content: space-between;
}

.righttext {
    margin-right: 15px;
}

.footer__numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__number {
    color: #ffffff;
}

.footer__number--active {
    margin-bottom: 50px;
    position: relative;
}

.footer__number--active::after {
    content: '';
    height: 50px;
    width: 2px;
    background: #fff;
    margin-left: 9px;
    position: absolute;
    left: 0;
    top: 20px;
}

.footer {
    display: flex;
    overflow: hidden;
    max-width: 100vw;
}

.footer__description {
    font-size: 0.8rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 250px;
}

.footer__description:nth-child(1) {
    position: absolute;
}

.footer__description:nth-child(2) {
    position: absolute;
}

.footer__description:nth-child(3) {
    position: absolute;
}

//*.footer__description {
    display: none;

}*//
.footer__description--active {
    display: flex;
}

p1 {
    text-transform: uppercase;
}

p3 {
    font-weight: bold;
}

.footer__image {
    height: 250px;
    position: relative;

}

.footer__image-img {
    height: 100%;
    width: auto;
}


@media (min-width: 768px) {
    .header__menu {
        display: flex;
        width: 600px;
    }

    .header__menu a {
        padding: 10px;
    }

    .ham {
        display: none;
    }

    .header__mobile-button {
        display: none !important;
    }

    .logo {
        max-width: 100px;
    }

    .search {
        max-width: 50px;
    }

    .footer {
        flex-wrap: nowrap;
    }

    .footer__container {
        max-width: 1440px;
        width: 100%;
    }

    .footer__inner {
        flex: 1;
    }

    .description__container {
        max-width: 250px;
        position: relative;
    }

    .footer__image {
        background-image: url('../img/bicycle.jpg');
        background-size: cover;
    }

    .arrows {
        filter: invert(1);
        display: flex;
        margin-right: 30px;
        margin-top: 30px;
        justify-content: flex-end;
    }

    .footer__arrow {
        width: 30px;
    }

    .footer__arrow--left {
        margin-right: 16px;
    }

    .socialicon {
        margin-bottom: 50px;
    }

    .footer__numbers {
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .footer__number--active {
        margin-bottom: 0;
        flex: 1;
    }

    .footer__number--active::after {
        display: inline-block;
        height: 2px;
        width: calc(100% - 50px);
        left: 43px;
        top: 31px;
    }

    .footer__description {
        padding: 20px;
        font-size: 0.9rem;
    }

    .footer__number {
        padding: 20px;

    }

}

@media (min-width: 1024px) {
    .container {

    }

}

@media (min-width: 1200px) {

}
