@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url("../img/adventure.jpg") no-repeat 50% fixed;
    background-size: cover;
    font-size: 16px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1440px;
}

.logo {
    max-width: 100px;
    filter: invert(1);
}
.header__menu {
    width: 33%;
    min-width: 30%;
    display: none;
    justify-content: space-between;
}
.header__menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
}
.search {
    max-width: 50px;
    filter: invert(1);
}



@media (min-width: 376px) {
    .header__menu {
        display: flex;
    }
    .ham {
        display: none;
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {

}
